body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
} p{
    color: white;
    font-size: 20px;
}
ol li{
    color: white;
    padding: auto;
    margin: auto;
    font-style: italic;
}
h2{
    color: blue;
    background-color: white;
    font-style: italic;
}
a{
    text-align: center;
    color: blue;
    background-color: white;
    display: block;
    padding: auto;
    margin: auto;
    width: 70px;
    border-radius: 3px;
    font-style: italic;
    font-size: 20px;
}
#lis{
    display: block;
    padding: auto;
    margin: auto;
}